<html>
    <head>
        <title>Oguz Web Site</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bu İlk Başlık ve Link</a></h1>
        </div>

        <div>
            <p>published: 10.07.2017, 20:27</p>
            <h2><a href="">İlk Blog Yazım - ilk küçük başlık</a></h2>
            <p>Bu ilk blog yazısı. Paragraf 1 </p>
        </div>

        <div>
            <p>published: 10.07.2017, 20:28</p>
            <h2><a href="">İkinci küçük başlık </a></h2>
            <p>Bu da ikinci küçük başlık. Paragraf 2</p>
        </div>
    </body>
</html>